*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 1000px;
    background-color: #f4f4f4;
}
.wrapper{
    width: 100%;
    height: 100%;
}
.wrapper .top-nav-wrap{
    width: 100%;
    height: 35px;
    background-color: #f5f5f5;
    border: 1px solid #eee;
}
.wrapper .top-nav-wrap .top-nav{
    width: 1190px;
    height: 35px;
    margin: 0px auto;
    /* border: 1px solid black; */
}
.wrapper .top-nav-wrap .top-nav-item{
    position: relative;
    width: 1190px;
    margin: 0 auto;
}
.wrapper .top-nav-wrap .top-nav-item .nav-item-china{
    display: none;
    width: 200px;
    height: 250px;
    max-height: 300px;
    border: 1px solid #eee;
    position: absolute;
    top: 0;
    /* left: 0; */
    overflow: scroll;
    background-color: #fff;
    z-index: 1000;
}
.wrapper .top-nav-wrap .top-nav-item .nav-item-china ul{
    /* width: 200px; */
    padding-top: 8px;
    
}
.wrapper .top-nav-wrap .top-nav-item .nav-item-china ul li{
    height: 29px;
    line-height: 29px;   
    padding-left: 8px;
    cursor: pointer;
    color: #333;
}
.wrapper .top-nav-wrap .top-nav-item .nav-item-china ul li a{
    color:#424242;
}
.wrapper .top-nav-wrap .top-nav-item .nav-item-china ul li:hover{
    background: #eee;
}
.wrapper .top-nav-wrap .top-nav-item .nav-item-mytb,
.wrapper .top-nav-wrap .top-nav-item .nav-item-like,
.wrapper .top-nav-wrap .top-nav-item .nav-item-seller,
.wrapper .top-nav-wrap .top-nav-item .nav-item-menu{
    display: none;
    border: 1px solid #eee;
    position: absolute;
    background-color: #fff;
    z-index: 1000;
}
.wrapper .top-nav-wrap .top-nav-item .nav-item-mytb{
    width: 110px;
    height: 70px;
    top: 0;
    left: 540px;
}
.wrapper .top-nav-wrap .top-nav-item .nav-item-like{
    width: 90px;
    height: 70px;
    top: 0;
    left: 720px;
}
.wrapper .top-nav-wrap .top-nav-item .nav-item-menu{
    width: 90px;
    height: 70px;
    top: 0;
    left: 990px;
}
.wrapper .top-nav-wrap .top-nav-item .nav-item-seller{
    width: 110px;
    height: 220px;
    top: 0;
    left: 910px;
}
.wrapper .top-nav-wrap .top-nav-item .nav-item-mytb ul,
.wrapper .top-nav-wrap .top-nav-item .nav-item-like ul,
.wrapper .top-nav-wrap .top-nav-item .nav-item-seller ul,
.wrapper .top-nav-wrap .top-nav-item .nav-item-menu ul{
    padding-top: 8px;
}
.wrapper .top-nav-wrap .top-nav-item .nav-item-mytb li,
.wrapper .top-nav-wrap .top-nav-item .nav-item-like li,
.wrapper .top-nav-wrap .top-nav-item .nav-item-seller li,
.wrapper .top-nav-wrap .top-nav-item .nav-item-menu li{
    height: 29px;
    line-height: 29px;   
    padding-left: 8px;
    cursor: pointer;
    color: #333;
}
.wrapper .top-nav-wrap .top-nav-item .nav-item-mytb ul li a,
.wrapper .top-nav-wrap .top-nav-item .nav-item-like ul li a,
.wrapper .top-nav-wrap .top-nav-item .nav-item-seller ul li a,
.wrapper .top-nav-wrap .top-nav-item .nav-item-menu ul li a{
    color:#424242;
    font-size: 15px;
}
.wrapper .top-nav-wrap .top-nav-item .nav-item-mytb ul li:hover,
.wrapper .top-nav-wrap .top-nav-item .nav-item-like ul li:hover,
.wrapper .top-nav-wrap .top-nav-item .nav-item-seller ul li:hover,
.wrapper .top-nav-wrap .top-nav-item .nav-item-menu ul li:hover{
    background: #eee;
}
.wrapper .top-nav-wrap .top-nav-item .nav-item-shopcar{
    display: none;
    width: 250px;
    height: 70px;
    border: 1px solid #eee;
    position: absolute;
    top: 0;
    left: 640px;
    background-color: #fff;
    z-index: 10000;
}
.wrapper .top-nav-wrap .top-nav-item .nav-item-shopcar p{
  margin-top: 18px;
  text-align: right;
  margin-right: 5px;
 
}
.wrapper .top-nav-wrap .top-nav-item .nav-item-shopcar a{
    display: block;
    color: #fff;
    background:#ff5000;
    width: 120px;
    float: right;
    padding: 1px 2px 1px 2px;
    margin-bottom: 8px;
    margin-right: 5px;
    
  }
.wrapper .top-nav-wrap .top-nav .top-nav-l{
    float: left;
}
.wrapper .top-nav-wrap .top-nav .top-nav-r{
    float: right;
}
.wrapper .top-nav-wrap .top-nav li{
    float: left;
    margin-right: 7px;
}
.wrapper .top-nav-wrap .top-nav li a{
    color: #6c6c6c;
    font-size: 12px;
    line-height: 35px;
    padding: 0 6px;
}
.wrapper .top-nav-wrap .top-nav li a:hover,
.wrapper .top-nav-wrap .top-nav li .login{
    color:#f40;
}
.wrapper .top-nav-wrap .top-nav .china{
    color: #3c3c3c;
    font-size: 12px;
    line-height: 35px;
}
.wrapper .top-nav-wrap .top-nav .cutOff span{
    color: #ddd;
    line-height: 35px;
}
.wrapper .top-nav-wrap .top-nav .bgPic{
    display: inline-block;
    width: 6px;
    height: 3px;
    vertical-align: middle;
    background-size: 100% 100%;
    /* border: 1px solid black; */
}
.wrapper .top-nav-wrap .top-nav .xsjPic{
    background-image: url('img/xsj.png');
}
.wrapper .top-nav-wrap .top-nav .shopCarPic{
    width: 12px;
    height: 11px;
    background-image: url('img/shopCar.png');
}
.wrapper .top-nav-wrap .top-nav .likePic{
    width: 12px;
    height: 11px;
    background-image: url('img/like.png');
}
.wrapper .top-nav-wrap .top-nav .webNavPic{
    width: 8px;
    height: 8px;
    background-image: url('img/webNav.png');
}
/* 导航条结束 top-nav-wrap*/


.wrapper .search-wrap{
    width: 100%;
    height: 97px;
    background-color: #fff;
    padding-top: 24px;
    padding-bottom: 9px;
    /* border: 1px solid black; */
}
.wrapper .search-wrap .search-con{
    width: 1190px;
    height: 88px;
    /* border: 1px solid black; */
    margin: 0 auto;
}
.wrapper .search-wrap .search-con .logo-box{
    display: inline-block;
    width: 190px;
    height: 80px;
    /* border: 1px solid black; */
    vertical-align: middle;
}
.wrapper .search-wrap .search-con .logo-box img{
    width: 100%;
    height: 100%;
}


/* 搜索区 search-box */
.wrapper .search-wrap .search-con .search-box{
    display: inline-block;
    height: 87px;
    width: 627px;
    /* border: 1px solid black; */
    vertical-align: middle;
    margin-left: 70px;
}
.wrapper .search-wrap .search-con .search-box .search-bd{
    width: 627px;
    height: 62px;
    /* border: 1px solid black; */
}
.wrapper .search-wrap .search-con .search-box .search-bd .search-tab{
    width: 610px;
    height: 22px;
    margin-left: 17px;
    /* border: 1px solid black; */
}
.wrapper .search-wrap .search-con .search-box .search-bd li{
    float: left;
    width: 36px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    color:#f40;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    margin-right: 4px;
    font-size: 12px;
    cursor: pointer;
}
.wrapper .search-wrap .search-con .search-box .search-bd li:hover{
    background-color: #ffeee5;
}
.wrapper .search-wrap .search-con .search-box .search-bd .select{
    background:linear-gradient(to right, #ff9000 0,#ff5000 100%);
    color: #fff;
    font-weight: 700;
}
.wrapper .search-wrap .search-con .search-box .search-bd .search-panel{
    width: 627px;
    height: 40px;
    position: relative;
    /* border: 1px solid black; */
}
.wrapper .search-wrap .search-con .search-box .search-bd .search-panel .btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 74px;
    height: 40px;
    z-index: 1000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* border: 1px solid black; */
    text-align: center;
}
.wrapper .search-wrap .search-con .search-box .search-bd .search-panel .btn button{
    border: none;
    background:linear-gradient(to right, #ff9000 0,#ff5000 100%);
    height: 100%;
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
.wrapper .search-wrap .search-con .search-box .search-bd .search-panel .search-inp-box{
    width: 551px;
    height: 36px;
    border: 2px solid #ff5000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: none;
    overflow: hidden;
}
.wrapper .search-wrap .search-con .search-panel .search-inp-box .search-inp{
    width: 472px;
    height: 36px;
    /* overflow: hidden; */
}
.wrapper .search-wrap .search-con .search-panel .search-inp-box .search-inp input{
    width: 472px;
    height: 24px;
    line-height: 24px;
    border: 0;
    outline: 0;
    text-indent: 10px;
    padding: 6px 16px;
    background-color: #fff;
}
.wrapper .search-wrap .search-con .search-panel .sousuo,
.wrapper .search-wrap .search-con .search-panel .camera{
    display: inline-block;
    position: absolute;
}
.wrapper .search-wrap .search-con .search-panel .sousuo{
    width: 18px;
    height: 18px;
    left: 10px;
    top: 11px;
    background-image: url('img/fdj.png');
    background-size: 100% 100%;
}
.wrapper .search-wrap .search-con .search-panel .camera{
    width: 18px;
    height: 18px;
    right: 85px;
    top: 11px;
    background-image: url('img/camera.png');
    background-position: 0px 0px;
}
.wrapper .search-wrap .search-con .search-box .search-ft{
    width: 625px;
    height: 18px;
    line-height: 18px;
    /* border: 1px solid red; */
}
.wrapper .search-wrap .search-con .search-box .search-ft li{
    float: left;

}
.wrapper .search-wrap .search-con .search-box .search-ft li a{
    font-size: 12px;
    color: #666;
    margin-right: 8px;
}
.wrapper .search-wrap .search-con .search-box .search-ft a:hover,
.wrapper .search-wrap .search-con .search-box .search-ft .select a{
    color: #ff5000;
}
.wrapper .search-wrap .search-con .search-box .search-ft .more{
    float: right;
    font-size: 12px;
    color: #666;
}


/* 二维码 code-box*/
.wrapper .search-wrap .search-con .code-box{
    display: inline-block;
    height: 90px;
    width: 76px;
    /*border: 1px solid #eee;*/
    vertical-align: middle;
    position: relative;
    margin-left: 110px;
}
.wrapper .search-wrap .search-con .code-box .p-tb{
    display: inline-block;
    color: #f40;
    text-align: center;
    line-height: 20px;
    width: 78px;
    font-size: 14px;
    margin: 4px auto 0;
}
.wrapper .search-wrap .search-con .code-box .close{
    position: absolute;
    top: 0;
    height: 14px;
    line-height: 14px;
    width: 14px;
    border: 1px solid #eee;
    left: -16px;
    text-align: center;
    color: #ddd;
    font-size: 14px;
}
.wrapper .search-wrap .search-con .code-box .code{
    display: inline-block;
    height: 62px;
    width: 62px;
    background: url('img/code.png') no-repeat;
    background-size: 100% 100%;
    margin-left: 6px;
}
/* 搜索区结束 search-wrap */

/* 中间导航条开始 */
.wrapper .screen-nav-wrap{
    width: 100%;
    height: 30px;
}
.wrapper .screen-nav-wrap .screen-nav-con{
    width: 1190px;
    height: 30px;
    margin: 0 auto;
    background: linear-gradient(to right,#ff9000 0,#ff5000 100%);
}
.wrapper .screen-nav-wrap .screen-nav-con h2{
    float: left;
    width: 190px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background-color: #ff5000;
    font-size: 16px;
}
.wrapper .screen-nav-wrap .screen-nav-con ul{
    height: 30px;
    font-size: 16px;
    float: left;
}
.wrapper .screen-nav-wrap .screen-nav-con ul li{
    float: left;
    padding: 0 4px;
    margin: 0 3px;
    text-align: center;
    line-height: 30px;
    font-weight: 700;
    color: #fff;
}
.wrapper .screen-nav-wrap .screen-nav-con ul li a{
    color: #fff;
    line-height: 30px;
    text-align: center;
}
/* 中间导航条结束 */

/* 主要展示区开始 */
.wrapper .screen-box-wrap{
    width: 1190px;
    height: 632px;
    margin: 0 auto;
    border: 1px solid black;
}
.wrapper .screen-box-wrap .main{
    float: left;
    width: 890px;
    height: 632px;
    /* border: 1px solid black; */
}
.wrapper .screen-box-wrap .main .main-inner{
    display: inline-block;
    vertical-align: top;    
    width: 720px;
    height: 522px;
    /* border: 1px solid black; */
}
.wrapper .screen-box-wrap .main .main-inner .inner-left{
    float: left;
    height: 522px;
    width: 190px;
    background-color: #fff;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul{
    border: 1px solid #ff5000;
    border-top: none;
    padding-top: 5px;
    padding-bottom: 3px;
    font-size: 14px;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li{
    height: 32px;
    width: 144px;
    line-height: 32px;
    font-weight: 400;
    padding-left: 25px;
    padding-right: 19px;
    position: relative;
    overflow: hidden;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li a{
    color: #666;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li:hover a{
    color: #ff5000;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li:hover{
    background-color: #ffeee5;
    color: #ff5000;
}
.wrapper .screen-box-wrap .main .main-inner .inner-left ul li span{
    position: absolute;
    display: inline-block;
    right: 10px;
    height: 8px;
    width: 5px;
    color: #666
}
.wrapper .screen-box-wrap .main .main-inner .inner-con{
    float: left;    
    width: 520px;
    height: 502px;
    margin-left: 10px;
    margin-top: 10px;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con1{
    float: left;    
    width: 520px;
    height: 518px;
    display: none;
    background-color: #fff;
    border: 2px solid #ff5000;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box { 
    width: 520px; 
    height: 280px; 
    overflow: hidden; 
    position: relative;
    margin: 0 auto;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box #list { 
    width: 4200px; 
    height: 280px; 
    position: absolute; 
    z-index: 1;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box #list img { 
    float: left;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box #buttons { 
    position: absolute;
    height: 10px; 
    width: 100px; 
    z-index: 2; 
    bottom: 20px; 
    left: 50%;
    margin-left: -50px;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box #buttons span { 
    cursor: pointer; 
    float: left; 
    width: 10px; 
    height: 10px; 
    border-radius: 50%; 
    background: #fff; 
    margin-right: 5px;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box #buttons .on {  
    background: orangered;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box .arrow { 
    cursor: pointer; 
    display: none; 
    line-height: 40px; 
    text-align: center; 
    font-size: 30px; 
    font-weight: bold; 
    width: 40px; 
    height: 40px;  
    position: absolute; 
    z-index: 2; 
    top: 50%; 
    margin-top: -20px;
    background-color: rgba(0,0,0,.3); 
    color: #fff;
    border-radius: 50%;
    text-decoration: none;  
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box .arrow:hover { 
    background-color: rgba(0,0,0,.7);
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box:hover .arrow { 
    display: block;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box #prev { 
    left: 20px;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .pic-box #next { 
    right: 20px;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .inner-mall{
    width: 520px;
    height: 230px;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .inner-mall img{
    width: 520px;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .inner-mall .head{
    width: 520px;
    height: 22px;
    border-bottom: 3px solid #ff1648;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .inner-mall .head .tm-pic{
    display: inline-block;
    width: 122px;
    height: 20px;
    background-image: url('img/tm.png');
    background-size: 100% 100%;
}
.wrapper .screen-box-wrap .main .main-inner .inner-con .inner-mall .head .tm{
    color:#666;
    font-size: 12px;
    margin-left: 8px;
}

.wrapper .screen-box-wrap .main .col-middle{
    display: inline-block;
    vertical-align: top;    
    width: 160px;
    height: 512px;
    margin-top: 10px;
    /* border: 1px solid black;   */
}
.wrapper .screen-box-wrap .main .col-middle h5{
    color: #a1a1a1;
    font-size: 12px;
    line-height: 20px;
}
.wrapper .screen-box-wrap .main .main-bottom{
    width: 888px;
    height: 100px;
    /* border: 1px solid black; */
}
.wrapper .screen-box-wrap .main .main-bottom .bottom-con{
    position: relative;
    margin-top: 10px;
    height: 73px;
    padding: 14px 14px 12px 20px;
    background-color: #fff;
    /* border: 1px solid red; */
}
.wrapper .screen-box-wrap .main .main-bottom .bottom-con .logo{
    float: left;
}
.wrapper .screen-box-wrap .main .main-bottom .bottom-con .logo span{
    display: block;
    color: #999;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    font-weight: 400;
}
.wrapper .screen-box-wrap .main .main-bottom .bottom-con .tbttCon{
   width: 675px;
   height: 73px;
   position: absolute;
   top: 14px;
   left: 200px;
}
.wrapper .screen-box-wrap .main .main-bottom .bottom-con .tbttCon img{
    float: left;
    width: 130px;
    height: 73px;
}
.wrapper .screen-box-wrap .main .main-bottom .bottom-con .tbttCon h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #333;
    margin-top: 2px;
    margin-left: 144px;
}
.wrapper .screen-box-wrap .main .main-bottom .bottom-con .tbttCon h4:hover{
    color: #ff5000;
}
.wrapper .screen-box-wrap .main .main-bottom .bottom-con .tbttCon p{
    color: #999;
    line-height: 18px;
    height: 36px;
    overflow: hidden;
    font-size: 14px;
    margin-left: 144px;
}
.wrapper .screen-box-wrap .col-right{
    float: left;
    width: 290px;
    height: 622px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: #fff; 
}
.wrapper .screen-box-wrap .col-right .member{
    width: 290px;
    height: 132px;
    padding: 3px 0 10px 0;
    background: url('img/loginbj.png') no-repeat;
    background-size: 100% 100%；
}
.wrapper .screen-box-wrap .col-right .member .member-bd{
    width: 290px;
    height: 91px;
    /* border-bottom: 1px solid black; */
}
.wrapper .screen-box-wrap .col-right .member .member-bd .tx{
    width: 290px;
    height: 56px;
    text-align: center;
}
.wrapper .screen-box-wrap .col-right  .member-bd .tx a{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.wrapper .screen-box-wrap .col-right  .member-bd .tx img{
    border-radius: 50%;
}
.wrapper .screen-box-wrap .col-right  .member-bd .hello{
    display: block;
    height: 17px;
    line-height: 17px;
    text-align: center;
    color:#333;
    font-size: 14px;
}
.wrapper .screen-box-wrap .col-right  .member-bd p{
    width: 290px;
    height: 17px;
    line-height: 17px;
    text-align: center;
}
.wrapper .screen-box-wrap .col-right  .member-bd .icon,
.wrapper .screen-box-wrap .col-right  .member-bd .club{
    display: inline-block;
    height: 17px;
    position: relative;
    color: #ff5000;
    font-size: 14px;
    line-height: 17px;
    padding: 0 10px 0 10px;
    background: #ffe4db;
    border-radius: 9px;
}
.wrapper .screen-box-wrap .col-right  .member-bd p .pic{
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    position: absolute;
    left: 0;
    top: 0;
    background: url('img/pic.png');
}
.wrapper .screen-box-wrap .col-right  .member-bd .icon .pic{
    background-position: 0 -527.5px;    
}
.wrapper .screen-box-wrap .col-right  .member-bd .club .pic{
    background-position: 0 -528px;   
}
.wrapper .screen-box-wrap .col-right  .member-bd p .con{
    margin-left: 10px;
}

.wrapper .screen-box-wrap .col-right .member .member-ft{
    width: 290px;
    height: 40px;
    text-align: center;
    margin-top: 8px;
}
.wrapper .screen-box-wrap .col-right .member .member-ft a{
    display: inline-block;
    width: 75px;
    height: 25px;
    line-height: 25px;
    color:#fff;
    background: linear-gradient(to right,#ff5000 0,#ffe606 100%);
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px;
    margin-right: 7px;
}
.wrapper .screen-box-wrap .col-right .member .member-ft .login{
    width: 92px;
}
.wrapper .screen-box-wrap .col-right .message{
    width: 290px;
    height: 26px;
    background-color: #ffe4db;
    /* text-align: center; */
}
.wrapper .screen-box-wrap .col-right .message a{
    color: #ff5000;
    line-height: 26px;
    position: relative;
    padding-left: 82px;
    font-size: 12px;
}
.wrapper .screen-box-wrap .col-right .message a span{
    position: absolute;
    top:2px;
    right:-43px;
    border: 7px solid #fff;
    border-left-color:#ff5000;
    border-top-color:transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}
.wrapper .screen-box-wrap .col-right .notice{
    height: 98px;
    width: 290px;
    padding-top: 10px;
    /* border-bottom: 1px solid red; */
}
.wrapper .screen-box-wrap .col-right .notice li{
    float: left;
}
.wrapper .screen-box-wrap .col-right .notice .title{
    /* width: 290px; */
    height: 24px;
    margin-top: 4px;
    padding: 0 8px;
    /* border-bottom: 1px solid red;     */
}
.wrapper .screen-box-wrap .col-right .notice .title li{
    width: 32px;
    line-height: 20px;
    margin: 0 11px;
    text-align: center;
}
.wrapper .screen-box-wrap .col-right .notice .title li a{
    color: #3c3c3c;
    font-size: 14px;
}
.wrapper .screen-box-wrap .col-right .notice .title .select{
    font-weight: 700;
    /* border-bottom: 2px solid #f40; */
}
.wrapper .screen-box-wrap .col-right .notice .con{
    margin-top: 10px;
}
.wrapper .screen-box-wrap .col-right .notice .con li{
    width: 130px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    padding-left: 15px;
}
.wrapper .screen-box-wrap .col-right .notice .con li a{
    font-size: 14px;
    color: #3c3c3c;
}
.wrapper .screen-box-wrap .col-right .notice li a:hover{
    color: #ff5000;
}
.wrapper .screen-box-wrap .col-right .notice .con .select{
    color: #ff5000;
}
.wrapper .screen-box-wrap .col-right .moudle{
    height: 232px;
    width: 290px;
    border-top: 1px solid #f4f4f4;
}
.wrapper .screen-box-wrap .col-right .moudle li{
    float: left;
    width: 71px;
    height: 75px;
    border-right: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
}
.wrapper .screen-box-wrap .col-right .moudle li a{
    display: block;
    text-align: center;
}
.wrapper .screen-box-wrap .col-right .moudle li a span{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('img/pic.png');
    margin-top: 13px;
}
.wrapper .screen-box-wrap .col-right .moudle li a p{
    color: #3c3c3c;
    font-size: 12px;
    line-height: 24px;
}
.wrapper .screen-box-wrap .col-right .moudle li a:hover p{
    color: #ff5000;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic1{
    background-position: 0 0;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic2{
    background-position: 0 -85px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic3{
    background-position: 0 -44px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic4{
    background-position: 0 -132px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic5{
    background-position: 0 -176px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic6{
    background-position: 0 -220px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic7{
    background-position: 0 -264px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic8{
    background-position: 0 -308px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic9{
    background-position: 0 -352px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic10{
    background-position: 0 -396px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic11{
    background-position: 0 -440px;
}
.wrapper .screen-box-wrap .col-right .moudle li a .pic12{
    background-position: 0 -484px;
}
.wrapper .screen-box-wrap .col-right .app{
    height: 100px;
    width: 290px;
}
.wrapper .screen-box-wrap .col-right .app h3{
    position: relative;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding-left: 14px;
}
.wrapper .screen-box-wrap .col-right .app h3 a{
    position: absolute;
    right: 10px;
    color: #3c3c3c;
}
.wrapper .screen-box-wrap .col-right .app ul{
    height: 84px;
    padding-left: 23px;
}
.wrapper .screen-box-wrap .col-right .app li{
    float: left;
    height: 32px;
    width: 32px;
    margin-right: 21px;
    margin-bottom: 8px;
}
.wrapper .screen-box-wrap .col-right .app li img{
    height: 32px;
    width: 32px;
}